<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assigned stuff</title>
    <head>
    <h1> Assignment Summaries </h1>
    <body>
    <p>Assignment 1: Created a simple user input program that provided some information about their name. 
      We also did some manipulations with python lists. For the written portion, we wrote some pseudocode 
      and did some base conversions. <br>
      Assignment 2: Filled in the skeleton code to create a trajectory simulator. Also answered some questions
      about Big-Oh for the written portion. <br>
      Assignment 3: Filled in the skeleton code to create a percolation module. Wrote some recursive functions 
      and did a pseudo-implementation of a set for the written portion. <br>
      Assignment 4: Filled in the skeleton code for the teacher-assginment-student program. This was a basic 
      introduction to OOP. <br>
      Midterm: Created a photo effects program, where users could select the filter they wanted to apply to a 
      given photo. <br>
      Assignment 5: Implemented a few ML methods, namely KNN (twice) and SVM. Printed some statistics about the dataset,
      then used seaborn to visualize relationships in the data. <br>
    </p>
    <h1> Favorite Assignment </h1>
    <p> The midterm assignment was pretty cool, since we effectively had to write it from scratch (unless I missed skeleton code)
      and then could visualize the results. Highly relevant assignment in the age of Instagram filters, too. Would definitely 
      recommend for it to be a permanent fixture in the course.  
    </p>
    </body>
</html>

