<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Other classes</title>
    <head>
    <body>
    <p>
    Classes I'm taking (besides this one): <br>
    </p>
    <ul>
      <li> Introduction to East Asian Civ: China </li>
      <li> CS Theory </li>
      <li> Advanced Programming </li>
      <li> Number Theory and Cryptography </li>
    </ul>
    </body>
    <br> 
    <p>
    My favorite class I'm taking this semester (besides this one, of course) is AP. It's a well-designed course 
    that has both practical and theoretical value. Each lab builds upon the previous ones so that building a web-server from scratch
    isn't nearly as terrifying as it initially sounds (still a lot of work though). 
    </p>
</html>

