<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Hi.</title>
    <head>
    <body>
    <p>Name: Brandon Zhang <br>
       <img src="/static/images/pic.JPG" height=300 width=200> </img> <br>
       <i> I was one of many Monkey Kings in my 3rd grade play. As you might be able to tell, I did my own facepaint. </i> <br>
       Grade: Sophomore <br>
       Major: Computer Science <br>
       A favorite link: <a href = https://www.youtube.com/watch?v=g8pQ8EWOh2Y> Don't sleep on Lonzo </a> <br> <br>
       Some other links on this site: <br>
       <a href = "./assignments"> Assignments in this course </a> <br>
       <a href = "./classes"> Other classes I'm taking </a>

    </p>
    </body>
</html>

